
#logo {
    margin-bottom: 100px;
    justify-content:left;
}

#logo #header-img {
    display: block;
    max-width: 250px;
    height: auto;
    border:none;
    box-shadow:none;
}
#titulo{
    margin-bottom:100px;
    margin-top:100px;
}

#alumno {
    display: inline-block;
    justify-content: left;
    font-size: 28px;
}

#profesor {
    display: inline-block;
    justify-content: right;
    margin-left: 50px;
    font-size: 28px;
}

#ionic {
    border:none;
    box-shadow:none;
    max-width: 500px;
    height: auto;
}
#cordova {
    border:none;
    box-shadow:none;
    max-width: 400px;
    height: auto;
}

.lista {
    margin-top:10px;
    margin-bottom: 10px;
}



